.App {
  background: radial-gradient(#e66465, #9198e5);
  min-height: 100vh;
  /* padding-bottom: 2rem */
  }

.my-btn:hover {
    transform: scale(1.1);
}
table {
  border-radius: 10px;
  border-collapse: collapse;
}